@import 'reset-css/reset.css';
@import '../../config/_variables.scss';

body {
    color: $font-color;
}

header {
    display: flex;
    li {
        list-style: none;
        margin-right: 1rem;
    }
}