@import 'reset-css/reset.css';
@import '../../config/_variables.scss';

body {
    color: $font-color;
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        .main {
            width: $max-page-width;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
        }
        .side {
            width: 0;
        }
    }
}

a {
    text-decoration: none;
    color: $font-color;
}


