@import 'reset-css/reset.css';
@import '../../config/_variables.scss';

* {
    transition: all .3s;
    box-sizing: border-box;
}
body {
    color: $font-color;
        .container {
            padding-left: 5vw;
            padding-right: 5vw;
            display: flex;
            justify-content: center;
            overflow-x: hidden;
            @include breakpoint('phone') {
                padding-left: 5px;
                padding-right: 5px;
            }
            .main {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                .blankDiv {
                    width: 0;
                }
            }
            .side {
                width: 0;
                position: fixed;
                right: 0;
                transform: translate3d(100%, 0, 0);
                z-index: 100;
            }
            .mask {
                position: fixed;
                background-color: black;
                opacity: 0;
                z-index: 99;
                transition: all 1s;
            }
        }
        .containerSearch {
            .main {
                width: 100%;
                margin-right: 300px;
                @include breakpoint('phone') {
                    margin-right: 0;
                }
                @include breakpoint('phone-landscape') {
                    margin-right: 0;
                }
            }
            .side {
                width: 300px;
                transform: translate3d(0, 0, 0);
                @include breakpoint('phone') {
                    width: 250px;
                }
                @include breakpoint('phone-landscape') {
                    width: 300px;
                }
            }
            @include breakpoint('phone') {
                .mask {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: .65;
                    transition: all .5s;
    
                }
            }
            @include breakpoint('phone-landscape') {
                .mask {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: .65;
                    transition: all .5s;
    
                }
            }
        }
}
article {
    display: flex;
}

a {
    text-decoration: none;
    color: $font-color;
}

li {
    list-style: none;
}

textarea {
    resize: none;
}

