@import '../../config/_variables.scss';

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .canvas {
    margin: 20px 30px;
    border-style: solid;
    border-width: 7px;
    border-radius: 15px;
    padding: 10px;
    border-color: darken($default-color, 15%);
    @include breakpoint('phone') {
      margin: 20px 0;
      border-width: 5px;
    }
  }
  
  .messageAndUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    .package {
      margin-top: 15px;
      border: 1.5px solid lighten($point-color, 15%);
      background-color: lighten($font-color, 55%);
      color: darken($font-color, 10%);
      border-radius: 7px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      font-size: .9rem;
      &:hover {
        background-color: lighten($point-color, 15%);
        cursor: pointer;
      }
    }
  }
}