@import '../../config/_variables.scss';
.footer {
    position: fixed;
    bottom: -5px;
    right: 0;
    border: 1px solid lighten($font-color, 35%);
    border-radius: 5px;
    color: $font-color;
    padding: 10px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    .rowTop {
        display: flex;
        width: 90%;
        border-bottom: 1px solid lighten($font-color, 35%);
        justify-content: space-between;
        padding-bottom: 5px;
        margin-bottom: 10px;
        .title {
            display: flex;
            align-items: center;
            .titleCounter{
                margin-left: .5rem;
                .titleCount {
                    color: tomato;
                }
            }
        }
        .minify {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .flowerBasket {
        display: flex;
        flex-wrap: wrap;
        .selectedFlower {
            padding: 5px;
            margin: 5px;
            background-color: lighten($font-color, 55%);
            color: darken($font-color, 10%);
            border-radius: 7px;
            display: flex;
            align-items: flex-end;
            .selectedFlowerCount {
                color: tomato;
            }
            .deselectFlower {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .rowBottom {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid lighten($font-color, 35%);
        width: 90%;
        padding-top: 10px;
        margin-top: 10px;
        .forward {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: lighten($font-color, 55%);
            padding: 7px 10px;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
                background-color: lighten(#b9cf69, 20%);
            }
        }
    }
}