@import '../../config/_variables.scss';

.header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $font-color;
    border-bottom: 1px solid lighten($font-color, 35%);
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    input {
        color: $font-color;
        box-sizing: border-box;
        width: 200px;
        margin: 0;
        font-size: .8rem;
        padding: .5rem;
        border-radius: 3px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $font-color;
        text-align: center;
        &::placeholder {
            color: $font-color;
        }
        &:hover {
            &::placeholder {
                color: $green;
            }
        }
        &:focus {
            outline: none;
            color: lighten($font-color, 15%);
            border-color: lighten($font-color, 15%);
        }
    }
    .searchList {
        box-sizing: border-box;
        position: absolute;
        top: 35px;
        left: 0;
        width: 200px;
        z-index: 100;
        border: 1px solid #343434;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.85);
        padding: .6rem;
        line-height: 1.7rem;
        li {
            width: 100%;
            text-align: center;
            &:hover {
                cursor: pointer;
                color: $green;
            }
        }
    }
}